@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
     margin: 0;
	padding: 0;
}
section {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}
.hero {
	position: relative;
	justify-content: center;
	
	min-height: 70vh;
	background-color: #D1ECFF;
}
.villain {
	background-color:#f1f1f1;
	min-height: 70vh;
	
}
div.cfillup{
    height:400px;
    width:88%;
    background-color:white;
    position:absolute;
    top:840px;
    border-radius:20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

/* navigationnnnnnnnnnnnnnn*/
div.nav{
    height:50px;
    width:100%;
     top:0px;
    position:absolute;
    left:0px;
    

}
.hoome{
    color:white;
    left: 100px;
    position:absolute;
    font-size:30px;
    margin:5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:black;
     background-color: #D1ECFF;
     border-style: none;
      border-radius:15px;
   
   
     
}
.navhome{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width:140px;
    height:35px;
    border-radius:15px;
    right:430px;
    margin:7px;
    position:absolute;
     background-color: #D1ECFF;
     color:#58585B;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size:17px;
    top: 0px;
    font-weight:600;
}
.navcheckup{
    width:140px;
    height:35px;
    border-radius:15px;
    right:280px;
    margin:7px;
    position:absolute;
    background-color: #D1ECFF;
     color:#58585B;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
     font-size:17px;
      font-weight:600;
}
.navprenatal{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width:140px;
    height:35px;
    border-radius:15px;
    right:130px;
    margin:7px;
    position:absolute;
    background-color: #D1ECFF;
     font-weight:600;
    color:#58585B;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size:17px;
    top: 0px;
}

.navprenatal:hover{
    background-color:#05A7C0;   
    color:white;
}
.navhome:hover{
    background-color:#05A7C0;  
     color:white; 
}
.navcheckup:hover{
    background-color:#05A7C0;  
     color:white; 
}
.hoome:hover{
    background-color:#05A7C0;  
     color:white; 
}

/*sentecens**/

.title1{
    color:blueviolet;
    font-family: 'Poppins', sans-serif;
    font-weight:800;
    font-size:50px;
    position:absolute;
    top:700px;
}
.title2{
    color:red;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:25px;
    position:absolute;
    top:770px;
}

/*textbboxxxxxxxxxxxxxxxx**/

.txtpatient{
    height:40px;
    position:absolute;
    top:40px;
    width:350px;
    left:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;

}
.txtaddress{
    height:40px;
    position:absolute;
    top:120px;
    width:350px;
    left:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.txtdate{
    height:40px;
    position:absolute;
    top:200px;
    width:350px;
    left:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.txtillness{
    height:40px;
    position:absolute;
    top:280px;
    width:200px;
    left:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.txtcontact{
    height:40px;
    position:absolute;
    top:40px;
    width:200px;
    right:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.txtage{
    height:40px;
    position:absolute;
    top:120px;
    width:200px;
    right:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.txtothers{
    height:37px;
    position:absolute;
    top:279px;
    width:140px;
    left:410px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}

.buttonsubmit{
    width:180px;
    height:40px;
    border-radius:5px;
    right:50px;
    position:absolute;
    bottom:30px;
    background-color:#05A7C0;
    color:white;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}
.buttonsubmit:hover { 
    background-color:dodgerblue;
}
 
.txtbrgy{
    position:absolute;
    bottom:50px;
    width:200px;
    right:250px;
}
/*labelllllllllllllllll*/

.patient{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:45px;
    left:20px;
}
.address{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:125px;
    left:70px;
}
.date{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:205px;
    left:20px;
}
.illness{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:285px;
    left:90px;
}
.others{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:15px;
    position:absolute;
    top:250px;
    left:420px;
}
.contact{
     font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:45px;
    right:440px;
}
.age{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:125px;
    right:440px;
}

.txtgender{
    height:40px;
    position:absolute;
    top:190px;
    width:210px;
    right:200px;
    border-radius:10px;
    border-color:#f1f1f1;
    border-style:solid;
    background-color:#f1f1f1;
}
.gender{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight:500;
    font-size:20px;
    position:absolute;
    top:195px;
    right:440px;
}

/*div 1111111111111111111111*/


.headingss{
    font-family: 'Open Sans', sans-serif;
    color:black;
    font-weight:700;
    font-size:45px;
    position:absolute;
    top:80px;
    left:430px;
}
.sentence1{
    font-family: 'Poppins', sans-serif;
    color:#58585B;
    font-weight:500;
    font-size:18px;
    position:absolute;
    top:390px;
    max-width:360px;
    line-height: 150%;
    left:250px;
    text-align:center;
}
.sentence2{
    font-family: 'Poppins', sans-serif;
    color:#58585B;
    font-weight:500;
    font-size:18px;
    position:absolute;
    top:390px;
    max-width:450px;
    line-height: 150%;
   text-align:center;
     right:180px;
}
.btnsection{

    width:180px;
    height:40px;
    border-radius:5px;
    position:absolute;
    top:550px;
    background-color:#05A7C0;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight:500;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0px 15px;
    padding-top:9px;
    padding-left:30px;
    left:530px;

}
.btnsection:hover { 
    background-color:dodgerblue;
}
.image1{
    position:absolute;
    height:200px;
    width:500px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 15px 0 rgba(0, 0, 0, 0.5);
     left:170px;
     top:170px;
}
.image2{
    position:absolute;
    height:200px;
    width:500px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 15px 0 rgba(0, 0, 0, 0.5);
     right:150px;
     top:170px;
}